:root {
  --paragraph-spacing: 0.5em;
  --brand-primary-color: #d63800;
  --brand-text-color: white;
  --transition: 0.1s ease-in-out;
  --text-color-emphasis: #491300;
}

::selection {
  background-color: var(--brand-primary-color);
  color: var(--brand-text-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 25rem) {
    html {
        font-size: 4vw;
    }
}

@media screen and (min-width: 31.25rem) {
    html {
        font-size: 1.25em;
    }
}

p {
    margin-bottom: calc(1em + 0.5vw);
}

a {
  color: var(--brand-primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em;
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  color: var(--text-color-emphasis);
}

body {
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

#karmaless-settings {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
}

.karmaless-form {
  display: flex;
  flex-direction: column;
}

.karmaless-setting {
    display: flex;
    align-items: center;
    max-width: fit-content;
    cursor: pointer;
    margin-left: 1em;
    position: relative;
}

.karmaless-setting:not(:last-of-type) {
  margin-bottom: 1em;
}

input[type="checkbox"] {
  margin-right: 0.8em;
  display: flex;
  align-items: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 1.2em;
  height: 1.2em;
  border-radius: 2px;
  position: absolute;
  left: -0.3em;
  background-color: white;
  color: var(--brand-text-color);
  border: 2px solid black;
  transition: background-color var(--transition),
              box-shadow var(--transition);
  text-align: center;
  box-shadow: 0 0 0 0 transparent;
}

input[type="checkbox"]:checked::before {
  content: "\2713";
  background-color: var(--brand-primary-color);
}

input[type="checkbox"]:focus::before,
.karmaless-setting:hover input[type="checkbox"]::before {
  box-shadow: 0 0 8px 0 var(--brand-primary-color);
}

legend {
    font-weight: 600;
}

.karmaless-fieldset {
    border: none;
    padding: 1.5em 0;
}

#karmaless-reset-settings {
  align-self: flex-end;
  font-size: 0.8em;
  font-weight: bold;
}

.hollow-button {
  border: solid 2px;
  color: var(--brand-primary-color);
  background: transparent;
  box-shadow: 0 transparent;
  transition: box-shadow var(--transition);
}

.hollow-button:focus,
.hollow-button:hover,
.hollow-button:active {
  box-shadow: 0 0 4px 0 var(--brand-primary-color);
}

.solid-button {
  background-color: var(--brand-primary-color);
  color: var(--brand-text-color);
  border: solid 2px var(--brand-primary-color);
  transition: background-color var(--transition);
}

.button {
  border-radius: 4px;
  font-size: 1em;
  padding: 0.8em 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 0.6em;
  padding: 0.5em 0.5em;
  margin: 0.1em;
  border-radius: 50%;
  background-color: var(--brand-primary-color);
  color: var(--brand-text-color);
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
}

.github-corner svg {
  fill: var(--brand-primary-color);
  border: 0;
  color: var(--brand-text-color);
}

#page-footer {
  text-align: center;
  padding: 1em;
}
