:root {
  --paragraph-spacing: 0.5em;
  --color-primary: #d63800;
  --color-primary-dark: #491300;
  --color-text: white;
  --color-text-emphasis: var(--color-primary-dark);
  --transition: 0.1s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button {
  font: inherit;
}

a {
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  color: var(--color-text-emphasis);
}

html,
body,
main {
  height: 100%;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  accent-color: var(--color-primary);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60ch;
  margin: 0 auto;
  padding: 0 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  max-width: fit-content;
  padding-inline-start: 1rem;
}

input[type='checkbox'] {
  width: 1rem;
  aspect-ratio: 1;
}

legend {
  font-weight: 600;
  line-height: 1.4;
}

fieldset {
  border: none;
  border-color: var(--color-primary-dark);
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
}

button[type='reset'] {
  align-self: end;
  font-size: smaller;
}

.button {
  border-radius: 4px;
  padding: 0.8em 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button.hollow {
  border: solid 2px;
  color: var(--color-primary);
  background: transparent;
}

.solid-button {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: solid 2px var(--color-primary);
  transition: background-color var(--transition);
}

.logo {
  vertical-align: middle;
  font-size: 0.6em;
  padding: 0.5em 0.5em;
  margin: 0.1em;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: var(--color-text);
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
}

.github-corner svg {
  fill: var(--color-primary);
  border: 0;
  color: var(--color-text);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
